@import '../../../variables';
.error-alert {
  width: 100%;
  position: fixed;
  top: 0px;
  display: flex;
  justify-content: center;

  &__body {
    width: 650px;
    height: 43px;
    background-color: $alert-success-background-color;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;

  }

  &__content {
    font-size: 14px;
    color: $white;
    font-family: "proxima_novabold", Arial, sans-serif;
    flex: 1;
    text-align: center;
  }

  &__icon {
    width: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}