@import '../../../variables';
.meeting-tools {
  &__header {
    height: 40px;
    display: flex;
    align-items: center;
    font-family: "proxima_novabold", Arial, sans-serif;
    font-size: 14px;
    color: $very-dark-gray;
    padding: 0 40px;
    border-bottom: 1px solid $border-gray;
  }
  &__type {
    flex: 1;
  }

  &__download {
    width: 65px;
  }

  &__item {
    height: 57px;
    display: flex;
    align-items: center;
    color: $very-dark-gray;
    padding: 0 40px;
    &:nth-child(even) {
      background-color: $almost-white;
    }
  }

  &__type-content {
    flex: 1;
    font-size: 12px;
    font-family: "proxima_novasemibold", Arial, sans-serif;
  }
  &__download-content {
    width: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}