@import '../../../variables';
.coaching-sub-tabs {
  .nav-tabs {
    padding-left: 25px;
    border-bottom: 2px solid $border-gray;
  }
  .nav-item {
    width: auto;
    margin: 0 32px 0 0;
    
    .nav-link {
      background-color: $white;
      font-size: 16px;
      font-family: "proxima_novabold", Arial, sans-serif;
      color: $medium-gray;
      border: none;
      border-bottom: 3px solid transparent;      
      border-radius: 0px;
      display: flex;
      align-items: center;
      padding: 16px 0 16px 0;

      &.active {
        background-color: $white;
        border-color: $medium-blue;
        color: $medium-blue;
      }
    }
  }
}